html{
    padding: 0;
    margin: 0;
    font-size: calc(100vw / 7.5);
    width: 100%;
    min-height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    font-size: 0.24rem;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/bg.png) no-repeat center;
    background-size: 100% 100%;
}